<%- include('../../partials/header.ejs'); %>

<body>
<%- include('../../components/navbar.ejs'); %>

<div class="container">

    <div class="card mt-5">
        <div class="card-header text-light bg-dark">
            <h2>Cadastro de categoria</h2>
        </div>
        <div class="card-body">
            <form action="/categories/save" method="post">
                <input type="text" class="form-control" name="title" id="title" placeholder="Defina o titulo da categoria">
                <button class="btn btn-success mt-3">Cadastrar</button>
                <a href="/categories" class="btn btn-danger mt-3">Cancelar</a>
            </form>
        </div>
    </div>
</div>

<%- include('../../partials/footer.ejs'); %>